/* começo bootstrap */
.selector-for-some-widget {
    box-sizing: content-box;
  }
  /* fim bootstrap */
  /* começo body */
  .page{
      background-color: #3E4147;
  }
  .header-up{
      background-color: #5A2E2E;
  }
  
  .header-up h1{
      color: #FFFEDF;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .pagination>li>a 
  { border-radius: 50% !important;margin: 0 5px;}

  /* fim body */
  /* ARTICLE */
  article{
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .barra-lateral{
      background-color:#2A2C31 ;
  }
  /* FIM ARTICLE */
  /* FOOTER */
  footer {
    background-color: #2a2c31;
  }
  footer h3 {
    color: #dfba69;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  footer p {
    color: #fffedf;
    text-align: center;
  }
  .copyright p{
    color: #535353;
  font-size: small;
  }
  
  /* FIM FOOTER */
  /* começo carroceu 1 */
  /* CARROCEL 1 */
  .carousel-item {
  
      min-height: 350px;
      min-width: 100%;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .carroceu{
        margin-bottom: 20px;
    }
  /* fim carroceu 1 */
  /* CARDS */
  .card img{
      max-height: 200px;
  }
  .card p{
    color: #FFFEDF;
  }
  .card{
      margin-bottom: 20px;
      margin-top: 10px;
  }
  article p
  {
      color: #FFFEDF;
      padding: 10px;
  }
  article .card
    {
    background-color: #2A2C31;
    }
    article h4
    {
    color: #DFBA69;
    }
   
  /* FIM CARDS */
  /* COLAPSE */
  .card-body{
      color: #FFFEDF;
  }
  .card-body li{
      color: #DFBA69;
      margin-bottom: 10px;
  }
  .card-header > h5 > button{
      color: rgb(209, 59, 59);
      text-decoration: none;
  }
  /* FIM COLAPSE */
  /* começo media queries */
  @media (max-width: 768px) {
    .header-up {
      display: none;
    }
  }
  /* fim media queries */
